---
fabricator: true
headline: headline
heading: heading
message: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
cta: call to action
---

<section class="billboard image-mountain vignette-black">
  <p class="headline">{{headline}}</p>
  <h2>{{heading}}</h2>
  <p class="message">{{message}}</p>
  <button class="btn cta btn-primary centered">{{cta}}</button>
</section>
