<section>
	<h3>Standard Form</h3>
	<form>
	  <div class="form-group">
	  	<label for="exampleInputEmail1">Email address</label>
	  	{{>input-email}}
	  </div>
	  <div class="form-group">
	  	<label for="exampleInputPassword1">Password</label>
	  	{{>input-password}}
	  </div>
	  <div class="form-group">
	  	<label for="exampleInputFile">File input</label>
	  	{{>input-file}}
	  	<p class="help-block">Example block-level help text here.</p>
	  </div>
	  <div class="form-group">
	  	{{>input-checkbox}}
	  </div>
	  <button type="submit" class="btn btn-default">Submit</button>
	</form>
</section>

<section>
	<h3>Inline Form</h3>
	<form class="form-inline">
	  <div class="form-group">
	  	<label for="exampleInputEmail1">Email address</label>
	  	{{>input-email}}
	  </div>
	  <div class="form-group">
	  	<label for="exampleInputPassword1">Password</label>
	  	{{>input-password}}
	  </div>
	  <button type="submit" class="btn btn-default">Submit</button>
	</form>

	<section>
		<form class="form-inline">
		  <div class="form-group">
		    <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
		    <div class="input-group">
		      <div class="input-group-addon">$</div>
		      <input type="text" class="form-control" id="exampleInputAmount" placeholder="Amount">
		      <div class="input-group-addon">.00</div>
		    </div>
		  </div>
		  <button type="submit" class="btn btn-primary">Transfer cash</button>
		</form>
	</section>
</section>

<section>
	<h3>Horizontal Form</h3>
	<form class="form-horizontal">
	  <div class="form-group">
	    <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
	    <div class="col-sm-10">
	      <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
	    <div class="col-sm-10">
	      <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
	    </div>
	  </div>
	  <div class="form-group">
	    <div class="col-sm-offset-2 col-sm-10">
	      <div class="checkbox">
	        <label>
	          <input type="checkbox"> Remember me
	        </label>
	      </div>
	    </div>
	  </div>
	  <div class="form-group">
	    <div class="col-sm-offset-2 col-sm-10">
	      <button type="submit" class="btn btn-default">Sign in</button>
	    </div>
	  </div>
	</form>
</section>
