---
title: Home page
fabricator: false
name: Home Page
---
{{> pl-nav name=name }}
{{> nav }}
{{> billboard heading=heading header=header message=message cta=cta}}
<section>
	<div class="col-xs-8">
		{{> article }}
	</div>
	<div class="col-xs-4">
		{{> aside }}
	</div>
</section>
{{> footer }}
