---
fabricator: true
title: LMB Pattern Library ~ Templates
---

<h1 data-f-toggle="labels">Templates</h1>

<ul>
{{#each materials.templates.items}}

	<!-- <li>
		<a href="materials/templates/{{@key}}.html" class="f-item-heading">{{name}}</a>
	</li> -->
	{{> f-item this}}

{{/each}}
</ul>
