---
fabricator: true
title: LMB Pattern Library ~ Two column
---

<header>
  <h1>Header</h1>
</header>
<nav>
  <ul>
    <li>Link 1</li>
  </ul>
</nav>
<!-- ./end-nav -->
<section>
  <article class="col-xs-8">
    <header>
      <h2>Article Header</h2>
    </header>
    <p>Paragraph</p>
  </article>
  <aside class="col-xs-4">
    <p>Aside</p>
  </aside>
</section>
<!-- ./end-main -->
<footer>
  <p>Footer</p>
</footer>
<!-- ./end-footer -->
