<p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit. Nullam quis risus eget urna mollis ornare vel eu leo. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ullamcorper nulla non metus auctor fringilla. Donec id elit non mi porta gravida at eget metus.</p>

<p class="bg-primary">contextual text color classes</p>
<p class="bg-success">contextual text color classes</p>
<p class="bg-info">contextual text color classes</p>
<p class="bg-warning">contextual text color classes.</p>
<p class="bg-danger">contextual text color classes</p>
<p class="sr-only">This paragraph should be hidden from the screen as it's designed for assistive information for screen readers</p>
