<section class="gold-container">
  <article class="col-lg">
  	<h2>.col-lg</h2>
  	<img src="example_images/first_idea_image_web.png" alt="image" />
  	<p>
  	Maecenas ac malesuada tellus. Morbi eget dolor ac ante auctor pellentesque. Vivamus eget adipiscing sapien. Cras pretium cursus elit, in aliquam ipsum euismod nec. Maecenas pharetra metus quis velit ultrices congue. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam blandit rhoncus ullamcorper. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tellus est, vulputate id pellentesque sit amet, accumsan vel purus.</p>

  	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

  	<p>Maecenas ac malesuada tellus. Morbi eget dolor ac ante auctor pellentesque. Vivamus eget adipiscing sapien. Cras pretium cursus elit, in aliquam ipsum euismod nec. Maecenas pharetra metus quis velit ultrices congue. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam blandit rhoncus ullamcorper. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tellus est, vulputate id pellentesque sit amet, accumsan vel purus.</p>
  </article>

  <aside class="col-sm">
  	<h3>.col-sm</h3>
  	<img src="example_images/golden_logo.png" alt="image">
  	<ul>
  		<li>bullet #1</li>
  		<li>bullet #2</li>
  		<li>bullet #3</li>
  	</ul>
  	<ol>
  		<li>item</li>
  		<li>item</li>
  		<li>item</li>
  		<li>item</li>
  		<li>item</li>
  	</ol>
  </aside>
</section>
