<h1>Three-Column Even Grid</h1>
<div class="row pl-grid">
  <div class="col-sm-4 pl-col">
    <h2>Col 1</h2>
  </div>
  <div class="col-sm-4 pl-col">
    <h2>Col 2</h2>
  </div>
  <div class="col-sm-4 pl-col">
    <h2>Col 3</h2>
  </div>
</div>
