<header>
  <div class="med">
    <h1>Liberty Mutual Benefits</h1>
    <h2>A division of Liberty Mutual Insurance, Inc.</h2>
  </div>
  <div class="large">
    <img src="{{baseurl}}/assets/toolkit/images/lm-logo.svg" alt="Liberty Mutual Logo">
  </div>
  <hr>
  <nav>
    <ul>
      <li>
        <a href="#">Home</a>
      </li>
      <li>
        <a href="#">Benefits</a>
      </li>
      <li>
        <a href="#">Contact</a>
      </li>
      <li>
        <a href="#">Help</a>
      </li>
    </ul>
  </nav>
</header>
