<nav class="row pl-nav">
  <div class="col-sm-1">
    <button class="btn btn-link btn-xs" onclick="history.back();">Back</button>
  </div>
  <div class="col-sm-11">
    <p class="text-uppercase">{{name}}</p>
  </div>
</nav>
<hr>
