:root {
  /**
  * This is the actual base of the document
  * and refers to the root of <html>
  * with higher specificity
  **/
  background-color: $white;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  height: 100%;
  color: hsl(0,0%,25%);
  font: 400 $base-font-size $base-font-size/$golden $sans;
  text-rendering: optimizeLegibility;
}

section, header, nav, main, footer {
  // display: flex;
  // flex-direction: column;
  display: block;
  padding: $padding;
}

h1, h2, h3, h4, h5, h6, p, blockquote {
  flex-grow: 1;
  -webkit-font-kerning: normal;
}

p,
pre {
  margin: 0 0 1.5em;
}

code,
pre {
  font-family: 'Menlo', 'Monaco', monospace;
}

code {
  font-size: .9em;
  font-weight: normal;
  color: #000;
}

pre > code {
  font: inherit;
  color: inherit;
}

a {
  border-bottom: 1px dashed hsla(150, 45%, 50%, 0.5);
  color: hsl(150, 45%, 50%);
  text-decoration: none;
}
a:focus,
a:hover {
  border-bottom: 1px solid hsl(150, 45%, 50%);
}

ol,
ul {
  margin: 0 0 #{$golden}em;
  padding: 0 0 0 #{$golden}em;
}

ol {
  list-style: decimal;;
}

ul {
  list-style: square;
}

li {
  margin-bottom: 0.333em;
}

figure {
  margin: 0;
}

strong {
  font-weight: 600;
}

blockquote {
  margin: 0 0 #{$golden}rem;
}
