/* style.less */
/*Ingredients*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul, dl {
  list-style-position: inside; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

em {
  font-style: italic; }

strong {
  font-weight: bold; }

/* Golden Ratio 1.618 */
/* -----------------------------  */
/* Color Scheme */
/* Base Color for Design */
/* ================================================================= */
/*				@breakpoint				 							*/
/* =============================================================== */
/*Recipes*/
/* $group Styles */
/* Typography metrics & leading */
body.type {
  hyphens: auto;
  word-wrap: break-word;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: "Fira Sans", Verdana, sans-serif;
  color: #1f1f1f;
  line-height: 1.618;
  /* no list style for ul or ol */ }
  body.type h1, body.type h2, body.type h3, body.type h4, body.type h5, body.type h6 {
    font-weight: bold;
    padding-bottom: 1rem; }
  body.type p {
    font-family: "PT Serif", "Georgia", serif;
    font-weight: normal;
    padding-bottom: 2rem; }
  body.type h5, body.type h6, body.type em, body.type strong {
    letter-spacing: 1px; }
  body.type .unstyle {
    list-style: none; }

/*  |---------------|END type |---------------|  */
/*  |---------------| Mobile First |---------------|  */
@media screen and (max-width: 768px) {
  body {
    /* Type Ratio */ }
    body h1 {
      font-size: 14.587702843vmin; }
    body h2 {
      font-size: 9.0158855643vmin; }
    body h3 {
      font-size: 5.5718172787vmin; }
    body h4 {
      font-size: 3.4436447953vmin; }
    body h5 {
      font-size: 2.1281724835vmin; }
    body h6 {
      font-size: 2.1281724835vmin; }
    body p, body li, body dt, body dd, body table, body form {
      font-size: 5.5718172787vmin; } }
/*  |---------------|desktop |---------------|  */
@media screen and (min-width: 768px) {
  body {
    /* Type Ratio */ }
    body h1 {
      font-size: 5.5718172787vmin; }
    body h2 {
      font-size: 3.4436447953vmin; }
    body h3 {
      font-size: 2.1281724835vmin; }
    body h4 {
      font-size: 1.3153105584vmin; }
    body h5 {
      font-size: 0.8128619251vmin; }
    body h6 {
      font-size: 0.8128619251vmin; }
    body p, body li, body dt, body dd, body table, body form {
      font-size: 2.1281724835vmin; } }
body.images img, body.images embed, body.images object, body.images video {
  border-style: none;
  width: auto;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  padding: 1em 0.5em; }

/*  |---------------| END body |---------------|  */
body.links a {
  color: #1f1f1f;
  text-decoration: none;
  position: relativve;
  z-index: 95; }
body.links a:hover {
  color: #a5a5a5; }
body.links a:active {
  color: #5b5b5b; }
body.links p a {
  color: gray;
  text-decoration: underline; }
  body.links p a:hover {
    text-decoration: none; }

/*  |---------------|END of Body Links |---------------|  */
body.layout {
  margin-top: 4em;
  /* @group NINJA MOVE */
  /* @end */
  /* =========================================================== */ }
  body.layout *, body.layout body, body.layout img, body.layout embed, body.layout object, body.layout video, body.layout iframe {
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    /* Opera/IE 8+ */ }
  body.layout section, body.layout hr {
    border-bottom: 1px solid gray;
    box-shadow: 0 8px 6px -6px #a5a5a5; }
  body.layout section:before, body.layout section:after, body.layout .clearfix:before, body.layout .clearfix:after, body.layout .group:before, body.layout .group:after, body.layout header:before, body.layout header:after, body.layout footer:before, body.layout footer:after, body.layout .full:before, body.layout .full:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden; }
  body.layout section:after, body.layout .clearfix:after, body.layout .group:after, body.layout header:after, body.layout footer:after, body.layout .full:after {
    clear: both; }
  body.layout section {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: baseline;
    align-items: baseline;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
  body.layout header, body.layout footer, body.layout article, body.layout aside, body.layout div {
    padding: 3.4439065322%; }

/*  |---------------|END of Body layout |---------------|  */
body.navbar {
  /* /nav */
  /* $end */
  /* /nav */ }
  body.navbar nav {
    /* /ul */ }
    body.navbar nav ul {
      list-style-type: none;
      /*  /li */ }
      body.navbar nav ul li {
        float: left;
        /* /a */ }
        body.navbar nav ul li a {
          /* unselected top-level menu items */
          display: block;
          /* Style Stuff */
          padding: 0.5em 1.25em;
          /* spacing of buttons */
          /* /a:hover */ }
          body.navbar nav ul li a:hover {
            color: white;
            background-color: #5b5b5b; }
  body.navbar header nav {
    /* /ul */ }
    body.navbar header nav ul {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 99;
      /* /li*/
      /*show the nav bar*/
      /* /ul:hover */
      /* /ul:before */ }
      body.navbar header nav ul li {
        height: 0;
        min-height: 0;
        margin-top: -70px;
        text-indent: -9999px;
        width: 100%;
        clear: both; }
      body.navbar header nav ul:hover li {
        background-color: #e1e1e1;
        /* default color / style of nav */
        height: 100%;
        max-height: 9999px;
        margin-top: 0;
        text-indent: 0; }
      body.navbar header nav ul:before {
        display: block;
        height: 4em;
        width: 4em;
        padding: 0.6em;
        /* move button from corner */
        content: "MENU";
        font-size: 14px;
        font-weight: bold;
        line-height: 0.5;
        text-align: center;
        background-color: #e1e1e1;
        background-image: url(menu_icon.svg);
        background-size: 34px;
        background-repeat: no-repeat;
        background-position: center center;
        box-shadow: 0 8px 6px -6px #a5a5a5; }

/* /Body NavBar */
body.tables {
  /* $group Table */
  /* $end */ }
  body.tables table {
    text-align: left;
    border: 1px solid gray;
    width: 100%; }
  body.tables table caption, body.tables table th, body.tables table td {
    empty-cells: show;
    padding: 2.1283342369%;
    border-bottom: 1px solid #a5a5a5; }
  body.tables table th {
    background-color: #5b5b5b;
    color: white; }
  body.tables table tr:nth-child(even) {
    background-color: #e1e1e1; }

/*  |---------------|END of Tables |---------------|  */
/* Desktop Breakpoint Recipes*/
@media screen and (min-width: 768px) {
  body.desktop-layout {
    margin: 0 3.4439065322%;
    /*Layout*/
    /*Images*/ }
    body.desktop-layout header, body.desktop-layout footer, body.desktop-layout article, body.desktop-layout aside, body.desktop-layout div {
      padding: 1.3154105296%; }
    body.desktop-layout section {
      -webkit-flex-direction: row;
      -moz-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row; }
    body.desktop-layout .full {
      width: 100%; }
    body.desktop-layout .large {
      width: 61.804697157%; }
    body.desktop-layout .xlarge {
      width: 70.8223768146%; }
    body.desktop-layout .med {
      width: 38.195302843%; }
    body.desktop-layout .small {
      width: 23.6064912503%; }
    body.desktop-layout .xsmall {
      width: 14.5888115927%; }
    body.desktop-layout img.left, body.desktop-layout embed.left, body.desktop-layout object.left, body.desktop-layout video.left {
      float: left;
      margin: 0.8129237073% 3.4439065322% 0.8129237073% 0.8129237073%; }
    body.desktop-layout img.right, body.desktop-layout embed.right, body.desktop-layout object.right, body.desktop-layout video.right {
      float: right;
      margin: 0.8129237073% 0.8129237073% 0.8129237073% 3.4439065322%; }

  /*  |---------------|END of Desktop Layout |---------------|  */ }
/*  |---------------|END of @media |---------------|  */
@media screen and (min-width: 768px) {
  body.desktop-nav {
    /* /header nav */ }
    body.desktop-nav header nav {
      position: static;
      /* place nav at top of window */
      /* /ul */ }
      body.desktop-nav header nav ul {
        position: static;
        /* /li*/ }
        body.desktop-nav header nav ul li {
          height: 100%;
          max-height: 9999px;
          margin-top: 0;
          text-indent: 0;
          width: auto;
          clear: none; }
          body.desktop-nav header nav ul li a {
            font-size: 85.4111884073%; }
        body.desktop-nav header nav ul:hover li {
          background: none; }
        body.desktop-nav header nav ul:before {
          display: none;
          /* No MENU icon */ }

  /*  |---------------|END of Desktop Nav |---------------|  */ }
/*/@media desktop*/
