.vignette-black {
  box-shadow: inset 0 0 8em 4em #000;
}

.vignette-white {
  box-shadow: inset 0 0 8em 4em #fff;
}

.image-mountain {
  background: url('/assets/toolkit/images/mountain.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
