.billboard {
  // min-height: percentage(2/3);
  min-height: 17em;

  p.headline, p.message {
    color: hsla(0, 100%, 100%, 90%);
    letter-spacing: 0.125rem;
    text-align: center;
  }

  h2 {
    color: hsla(0, 100%, 100%, 100%);
    text-align: center;
  }

}
