.pattern {
  background: #fffff5;
  margin: 1rem auto;
}

.pl-nav {
    background-color: hsla(0, 0%, 0%, 90%);
    padding: 0.125rem;
    div {
        p {
            color: #cfcfcf;
            font-size: 0.875rem;
            letter-spacing: 0.125rem;
            margin: 0 0.175rem;
        }
    }
}

.pl-body-wrapper {
  margin: 0 3rem;
}

.pl-grid {
  outline: 1px solid #333;
}

.pl-grid > .pl-col {
  background: hsla(180, 30%, 30%, 90%);
  color: hsla(40, 100%, 100%, 90%);
  text-align: center;
  padding: 1rem;
}
