/* $group Styles */
	// $sans:	'Fira Sans', Verdana, sans-serif;
	$sans: "Helvetica Neue", Helvetica, Arial, sans-serif;
	$serif: 'PT Serif', 'Georgia', serif;

	@function margin($font-size) {
		@return ($font-size/$golden) - 1;
	}

/* Typography metrics & leading */
	$lineHeight: $golden;

	body {
		font-family: $sans;
	}

	h1, h2, h3, h4, h5, h6, p, a, li, code, blockquote {
		line-height: $golden;
	}

	h1 {
		font-size: 3.998rem;
		margin: 0 0 margin(3.998rem);
	}

	h2 {
		font-size: 2.827rem;
		margin: 0 0 margin(2.827rem);
	}

	h3 {
		font-size: 1.999rem;
		margin: 0 0 margin(1.999rem);
	}

	h4 {
		font-size: 1.414rem;
		margin: 0 0 margin(1.414rem);
	}

	h5 {
		font-size: 1rem;
		margin: 0 0 margin(1rem);
	}

	h6 {
		font-size: 0.707rem;
		margin: 0 0 margin(0.707rem);
	}
