// colors
$golden: 1.618;
$padding: #{$golden}rem;
$yellow: rgb(252, 207, 80);
$red: rgb(201, 5, 6);
$blue: rgb(39, 102, 143);
$white: rgb(255, 255, 255);
$dark: rgb(30, 30, 30);
$light: rgb(242, 242, 242);

// site vars
$base-font-size: 1em;
