
<div class="form-group">
	<label for="exampleInputEmail1">Email address</label>
	{{>input-email}}
</div>
<div class="form-group">
	<label for="exampleInputPassword1">Password</label>
	{{>input-password}}
</div>
<div class="form-group">
	<label for="exampleInputFile">File input</label>
	{{>input-file}}
	<p class="help-block">Example block-level help text here.</p>
</div>
<div class="form-group">
	{{>input-checkbox}}
</div>
